.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
border: none;
width: 200px;
height: 200px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
bottom: auto;
left: auto;
right: 1px;
top: 1px;
}

.ol-rotate {
top: 170px;
right: 0;
}

.tooltip {
position: relative;
background: rgba(0, 0, 0, 0.5);
border-radius: 4px;
color: white;
padding: 4px 8px;
opacity: 0.7;
white-space: nowrap;
}
.tooltip-measure {
opacity: 1;
font-weight: bold;
}
.tooltip-static {
background-color: #ffcc33;
color: black;
border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
border-top: 6px solid rgba(0, 0, 0, 0.5);
border-right: 6px solid transparent;
border-left: 6px solid transparent;
content: "";
position: absolute;
bottom: -6px;
margin-left: -7px;
left: 50%;
}
.tooltip-static:before {
border-top-color: #ffcc33;
}
.form-inline {
	position: fixed;
    bottom: 0;
    top: 95%;
}
.map {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 1px solid #ccc;
margin-bottom: 10px;
}

.container {
	z-index: 1;
}
.icon-bar {
  width: 28px;
  background-color:rgba(255,255,255,.4);
  position: absolute; 
  top: 20%; 
  z-index: 999;
  padding: 2px;
  border-radius: 4px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 4px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 17px;
  margin: 1px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #000 !important;
}

.icon {
    background-color: #7F9DC3;
  }
